@import "../variables";

.page{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	color: $dark;
	font-family: $font;
	font-size: 14px;
	line-height: 22px;
	background: $white;
	overflow-x: hidden;
}

.page_bg_grey{
	background: #f9f9f9;
}

.page__background{
	display: none;
	position: fixed;
	top: 0;
	left:0;
	right: 0;
	height: 100vh;
	width: 100vw;
	background-size: cover;
}

// .page__overlay{
// 	position: fixed;
// 	top: 0;
// 	left:0;
// 	right: 0;
// 	height: 100vh;
// 	width: 100vw;
// 	background: rgba(0,0,0, .6);
// }

/**
 * iPad with portrait orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait){
	.page__background,
	.page__overlay {
		height: 1024px;
	}
}

/**
 * iPad with landscape orientation.
 */
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape){
	.page__background,
	.page__overlay {
		height: 768px;
	}
}

/**
 * iPhone 5
 */
@media screen and (device-aspect-ratio: 40/71) {
	.page__background,
	.page__overlay {
		height: 500px;
	}
}

